{% extends 'default.html' %}
{% block title %}
Answers
{% endblock title %}

{% block content %}
    {% if answers %}
       <h1>Mои отклики</h1>
       <table>
           <tr>
               <td>Номер ответа</td>
               <td>Кому</td>
               <td>Объявление</td>
               <td>Статус</td>
           </tr>
           {% for answer in answers %}
           {% if answer.user.username == user.username%}
           <tr>
               <td><a href = "{{answer.id}}">{{ answer.id  }}</a></td>
               <td>{{ answer.ad.author.username  }}</td>
               <td>{{ answer.ad.header}}</td>
               <td>{{ answer.status }}</td>
           {% endif %}

           </tr>
           {% endfor %}
       </table>
    {% else %}
       <h2>Откликов нет!</h2>
    {% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
